
  <div class="comment_box" style="width:550px;">
    <% form_tag url(:wish_comments, :create, :wish_id => wish, :page => params[:page]) do %>
      <table>
        <tr>
          <td>
            <%= partial_with_block('misc/editor', { :target => 'wish_comment_body', :align => 'center' }) { text_area_tag :wish_comment_body, :id => 'wish_comment_body', :rows => 6, :cols => 65 } %>
          </td>
        </tr>
        <tr>
          <td>
            <%= submit_tag 'Submit', :class => 'submit' %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>