
<% page_name 'Not Found' %>

<div class="main">
  <div class="error_page" style="width:700px;">
    
    <h2>Error 405 - Method Not Allowed</h2>
    
    <div class="error">
      The method used for this request is not allowed.
    </div>
    
  </div>
</div>