
config/bg_tasks.yml
config/database.rb
config/mukif.yml
config/schedule.rb
config/auth_keys.rb

db/seeds/app_data.rb
db/seeds/dummy_data.rb
db/*.sql
db/schema.rb

log/*.log

deploy/backup.rb
deploy/deploy.rb
deploy/install.rb
deploy/prepare.rb

.project

.bundle
