
<% page_name 'Notification' %>

<div class="main">
  <div class="notification_page" style="width:700px;">
    
    <h2><%= @notification_args[:title] %></h2>

    <div class="body">
      <%= @notification_args[:body] %>
    </div>
    
  </div>
</div>
