
module Authentication
  
  # authentication module keys
  
  # password
    # warning!: changing the keys will invalidate all current passwords
   
    if Padrino.env == :production
      PASSWORD_DIGEST_KEY = 'change_me_change_me_change_me_change_me'
    else
      PASSWORD_DIGEST_KEY = '84ujdgeu8d8933nnbdndo8e8b3809ijuioj7894j49ij3n32e2ff'
    end

    PASSWORD_DIGEST_STRETCHES = 5  
end