
   <div id="editor" class="editor left">
      <table class="left">
        <tr>
          <td>
            <div id="editor_panel" class="hide">
              <%= partial 'misc/editor_panel', :locals => {:target => target} %>
            </div>
          </td>
        </tr>          
        <tr>
          <td>
            <%= html %>            
          </td>
        </tr>
      </table>
    </div>