
<% page_name 'Torrents' %>

<div class="main">
  
  <h2>Torrents</h2>
  
  <%= partial 'misc/flash' %>

  <%= partial 'torrents/index_search_box' %>
    
  <%= partial 'torrents/index_content' %>    
</div>
